/A.dll
/A.dll.intermediate.manifest
/A.exp
/A.lib
/A.pdb
/CL.read.1.tlog
/CL.write.1.tlog
/FF8_Hooks.lastbuildstate
/FF8_Hooks.log
/FF8_Hooks.vcxprojResolveAssemblyReference.cache
/FF8_Hooks.write.1.tlog
/Hooks.obj
/cl.command.1.tlog
/link.command.1.tlog
/link.read.1.tlog
/link.write.1.tlog
/main.obj
/memoryprotection.obj
/mt.command.1.tlog
/mt.read.1.tlog
/mt.write.1.tlog
/vc100.pdb
